:root { 
--indigo_100:#b7d0e8; 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--blue_gray_900_b7:#2f3030b7; 
--black_900_7a:#0000007a; 
--gray_800:#504f4f; 
--light_blue_A700:#0983f5; 
--blue_A100:#7abcf9; 
--white_A700:#ffffff; 
}