:root { 
--indigo_100:#b7d0e8; 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--blue_gray_900_b7:#2f3030b7; 
--black_900_7a:#0000007a; 
--indigo_900_26:#252c6126; 
--gray_800:#504f4f; 
--light_blue_A700:#0984e3; 
--blue_A100:#7abcf9; 
--gray_800_e5:#4b4747e5; 
--white_A700:#ffffff; 
--gray_300:#e2e1e5; 
}